h4{
    text-transform: uppercase; 
}
.hero{
    min-height: 80vh; 
    display: flex; 
    justify-content: space-between; 
}
.heading{
    width: 50%;
    display: flex; 
    flex-direction: column; 
    margin: 5em; 
}
#product-page-button{
    width: 40%; 
    border: 1px solid black; 
    border-radius: 25px; 
    background-color: #1b2030;
    color: #cfb482;   
    padding: 10px;
    cursor: pointer;
    font-weight: bold; 
    box-shadow: 0 4px 6px rgba(42, 39, 53, 0.5);
}
#header-img-container{
    position: relative; 
    width: 30%;
}
#product-page-button:hover {
  background-color: #cfb482;
  color: #1b2030; 
}

#circle-header-img, #polygon-header-img{
    border: 1px solid black;
    overflow: hidden; 

}
#circle-header-img{
    position: relative; 
    top: 15%;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    z-index: 1000; 
}

#polygon-header-img{
    position: absolute;
    height: 100%;
    width: 60%;
    right: 0; 
    top: 0;
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%); 
}

#product-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
    justify-content: space-evenly; 
}
.card{
    margin: 2em; 
}

#cart-products{
    background-color: grey; 
    display: flex; 
    justify-content: space-around; 
    padding: 20px;
}
#summary-about{
    width: 50%; 
    margin: auto 0; 
}
#summary-about p{
    display: inline-block; 
    width: 50%;
}
#cart-div{
    display: flex; 
    justify-items: space-between;
    align-items: center;
}
#ingredients h3{
    text-transform: uppercase;
    font-size: 1.25em; 
}

#ingredients-container{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly; 
    margin: 50px 0;
}
.circle-photo{
    text-align: center;
    font-family: 'Metamorphous', serif;
} 

.circle-photo img{
    max-width: 6em;
    max-height: 6em;
    margin: 20px;
    border-radius: 50%;
    overflow: hidden;
}
#amazon-promo {
  display: grid;
  grid-template-columns: 4fr 5fr;
}

/* Blog Section */
#blog-highlight {
    padding: 25px 0;
    text-align: center;
    background-color: #FEF3C7;
}
#blog-highlight h3 { 
    padding: 20px; 
    font-size: 1.75em; 
    margin-bottom: 0;

}
#blog-highlight h4{
    font-size: 1.5em; 
    font-family: "Metamorphous", serif;
}

#blog-highlight .carousel img {
  border-radius: var(--r);
  max-height: 250px;
  object-fit: cover;
  margin: 10px;
}

#carousel{
    width: 100%; 
    text-align: center;
    padding: 100px;
}
#photo-container{
    margin: 20px auto;
    display:flex; 
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px; 
    background-color: white;
    width: 60%;
    text-align: center;
}

.fullscreen-img{
    width: 100%;
    object-fit: contain;
}
/* catchphrase section */
#catchphrase {
  text-align: center;
  padding: 6em 50px 1em;
  margin: 0 auto 1em ; 
  width: 90%; 
}
#catchphrase h2 {
    margin: 50px auto;
    font-size: 2em;
    color: #6a4c3d;
}
#catchphrase p{
    font-weight: bold;
    font-size: 1.25em;
}


@media screen and (max-width: 700px){
    .heading{
        font-size: 1em; 
        width: auto; 
        margin: 0 2em;
        justify-content: center; 
    }
    .heading p{
        font-size: 1em; 
        margin-bottom: 2em; 
    }
    #product-page-button{
        width: 70%;
    }

    #circle-header-img{
    right: 15%; 
    }

#polygon-header-img{
    position: absolute;
    max-height: 100%;
    width: 80%;
    right: 0; 
    top: 0;
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%); 
}
#product-grid{
    display: grid;
    grid-template-columns: 1fr;  
    justify-content: space-evenly; 
}

#amazon-promo {
  grid-template-columns: 1fr;
}
.value-grid {
  grid-template-columns: repeat(2, 1fr);  
  gap: var(--space-6) var(--space-4);    
  text-align: center;
  margin: 0 auto; 
}
}

